# Omniarium files
*.omni linguist-language=omniarium
*.omni.lyr linguist-language=omniarium-markdown
*.omni.ini linguist-language=INI
*.omni.manifest linguist-language=JSONC
*.omni.loc linguist-language=JSONC
