## C++ files ignore list
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

## NodeJS ignore list
node_modules

## Visual Studio list
*.vsix

## ANTLR List
.antlr

# Duplicated LICENSE file
vscode-extension/LICENSE
std-1/supplements/VSCode-Extension/LICENSE

## Temporary files
*.tmp
*.tmp.*

## Omniarium ignore list (NOTE/REMAINDER)

# Output folder
.omni.out
