# Omniarium files
*.omni linguist-language=omniarium
*.omni.layer linguist-language=omniarium-layer
*.omni.ini linguist-language=INI
*.omni.manifest linguist-language=JSONC
*.omni.local linguist-language=JSONC
