# Omniarium files
*.omni linguist-language=OMNIARIUM
*.omni.layer linguist-language=OMNIARIUM-LAYER
*.omni.ini linguist-language=INI
*.omni.manifest linguist-language=JSONC
*.omni.local linguist-language=JSONC
